FootlooseFS.EnterpriseService.IntegrationTests/Service References/FootlooseFSEnterpriseService/PersonService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FootlooseFS.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FootlooseFS.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPersonDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonDocument" nillable="true" type="tns:PersonDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonDocument" nillable="true" type="tns:ArrayOfPersonDocument" />
  <xs:complexType name="PersonDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDocument" nillable="true" type="tns:PersonDocument" />
</xs:schema>