FootlooseFS.EnterpriseService.IntegrationTests/Service References/FootlooseFSEnterpriseService/PersonService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FootlooseFS.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FootlooseFS.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="SortDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ascending" />
      <xs:enumeration value="Descending" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SortDirection" nillable="true" type="tns:SortDirection" />
  <xs:complexType name="PersonDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="County" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDocument" nillable="true" type="tns:PersonDocument" />
  <xs:complexType name="ArrayOfPersonDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonDocument" nillable="true" type="tns:PersonDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonDocument" nillable="true" type="tns:ArrayOfPersonDocument" />
  <xs:complexType name="PersonIncludes">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountTransactions" type="xs:boolean" />
      <xs:element minOccurs="0" name="Accounts" type="xs:boolean" />
      <xs:element minOccurs="0" name="Addressses" type="xs:boolean" />
      <xs:element minOccurs="0" name="Login" type="xs:boolean" />
      <xs:element minOccurs="0" name="Phones" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonIncludes" nillable="true" type="tns:PersonIncludes" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accounts" nillable="true" type="tns:ArrayOfPersonAccount" />
      <xs:element minOccurs="0" name="Addresses" nillable="true" type="tns:ArrayOfPersonAddressAssn" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="tns:PersonLogin" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="Phones" nillable="true" type="tns:ArrayOfPhone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="ArrayOfPersonAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonAccount" nillable="true" type="tns:PersonAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonAccount" nillable="true" type="tns:ArrayOfPersonAccount" />
  <xs:complexType name="PersonAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="AccountID" type="xs:int" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="RelationshipType" nillable="true" type="tns:RelationshipType" />
      <xs:element minOccurs="0" name="RelationshipTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonAccount" nillable="true" type="tns:PersonAccount" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountBalance" type="xs:decimal" />
      <xs:element minOccurs="0" name="AccountID" type="xs:int" />
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountType" nillable="true" type="tns:AccountType" />
      <xs:element minOccurs="0" name="AccountTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Transactions" nillable="true" type="tns:ArrayOfAccountTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="AccountType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountType" nillable="true" type="tns:AccountType" />
  <xs:complexType name="ArrayOfAccountTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountTransaction" nillable="true" type="tns:AccountTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountTransaction" nillable="true" type="tns:ArrayOfAccountTransaction" />
  <xs:complexType name="AccountTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" type="xs:int" />
      <xs:element minOccurs="0" name="AccountTransactionID" type="xs:int" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="tns:TransactionType" />
      <xs:element minOccurs="0" name="TransactionTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountTransaction" nillable="true" type="tns:AccountTransaction" />
  <xs:complexType name="TransactionType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionType" nillable="true" type="tns:TransactionType" />
  <xs:complexType name="RelationshipType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelationshipTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelationshipType" nillable="true" type="tns:RelationshipType" />
  <xs:complexType name="ArrayOfPersonAddressAssn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonAddressAssn" nillable="true" type="tns:PersonAddressAssn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonAddressAssn" nillable="true" type="tns:ArrayOfPersonAddressAssn" />
  <xs:complexType name="PersonAddressAssn">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      <xs:element minOccurs="0" name="AddressType" nillable="true" type="tns:AddressType" />
      <xs:element minOccurs="0" name="AddressTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonAddressAssn" nillable="true" type="tns:PersonAddressAssn" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressType" nillable="true" type="tns:AddressType" />
  <xs:complexType name="PersonLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="HashedPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonLogin" nillable="true" type="tns:PersonLogin" />
  <xs:complexType name="Phone">
    <xs:sequence>
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneType" nillable="true" type="tns:PhoneType" />
      <xs:element minOccurs="0" name="PhoneTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Phone" nillable="true" type="tns:Phone" />
  <xs:complexType name="PhoneType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhoneType" nillable="true" type="tns:PhoneType" />
  <xs:complexType name="ArrayOfPhone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Phone" nillable="true" type="tns:Phone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhone" nillable="true" type="tns:ArrayOfPhone" />
</xs:schema>